{
  "indices": [
    {
      "names": [
        "*"
      ],
      "privileges": [
        "view_index_metadata",
        "create_index",
        "delete_index",
        "read",
        "write",
        "create",
        "delete",
        "index",
        "maintenance",
        "manage"
      ]
    }
  ],
  "cluster": [
    "cluster:monitor/*"
  ]
}
